.App {
  text-align: center;
  border: 2px solid;
  width: 400px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Board {
  border: 2px solid green;
  display: inline-block;
  padding: 5px;
  box-shadow: 10px -10px 5px grey;
  background-color: blue;
}

.button {
  background-color: white;
  width: 30px;
	height: 30px;
  background-image: url(http://bit.ly/2AtOWCh);
  border: 0;
  background-size: contain;
}

.Title h1{
  color: #7c795d; font-family: 'Mountains of Christmas', cursive; font-size: 45px; font-weight: normal; font-size: 35px; line-height: 48px; margin: 0;
}

 h1{
  color: #7c795d; font-family: 'Mountains of Christmas', cursive; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;
}

h2{
   color: #ff4411; font-size: 48px; font-family: 'Nosifer', cursive; padding-bottom: 10px;
}

h3 {
  font-family: 'Mountains of Christmas', cursive;
}

#again {
    position: absolute;
    left: 160px;
    padding: 10px;
    margin:10px;
    width: 80px;
    background-color: orange;
}
#santaPiece {
  background-image: url(http://bit.ly/2ArkF73);
  background-size: contain;
  background-color: lightgreen;
}
#grinchPiece {  
  background-image: url(http://bit.ly/2kuFMyE);
  background-size: contain;
  background-color: lightgreen;
}
