.App {
  text-align: center;
  border: 2px solid;
  width: 400px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Board {
  border: 2px solid green;
  display: inline-block;
  padding: 5px;
  box-shadow: 10px -10px 5px grey;
}

.button {
  width: 20px;
	height: 20px;
	background: #009900;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.Title h1{
  color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;
}

 h1{
  color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;
}

h2{
   color: #ff4411; font-size: 48px; font-family: 'Signika', sans-serif; padding-bottom: 10px;
}

#again {
    position: absolute;
    left: 160px;
    padding: 10px;
    margin:10px;
    width: 80px;
    background-color: orange;
}
